<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png"  href="/favicon.ico?v=1.1">

    <title>Modern Ancient</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation.local.css">  

    <script src="https://use.fontawesome.com/167cefad62.js"></script>

</head>
  <body>

      {{ content }}
    
  <footer class="stuff-responsive-blog-footer">

    <div class="grid-container grid-container-padded">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
          <p>We have a shop of Objects D'art and Durable Goods <a href="https://newtribetextiles.etsy.com">here</a></p>
        </div>
        <div class="cell medium-6 about-section">
          <p>Other things</p>
          <div class="grid-x">
<div class="social-footer cell small-4 text-center">
              <a href="https://instagram.com/ghostanalog">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a> 
            </div>
            <div class="social-footer cell small-4 text-center">
              <a href="https://facebook.com/themodernancient">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a> 
            </div>
            <div class="social-footer cell small-4 text-center">
              <a href="https://newtribetextiles.etsy.com">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              </a>
            </div>
          </div> 
          <div class="cell small-12 mailing-container">
            <h4 class="mailing-list">For Occasional & Random Emails:</h4>
            <input type="text" placeholder="Email Address">
            <a class="button expanded subscribe-button" href="#">Subscribe Now</a>
          </div>

        </div>
      </div>
    </div>
</footer>

    
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
